.container {
    margin:auto;
}

body {
    background-image: url('https://i.pinimg.com/originals/1f/3d/43/1f3d43bcd2f77090fe4e8ee181654a3e.jpg');
    background-size: cover
}


h1 {
    color:rgb(0, 0, 0);
    font-family: "Lucida Console", Monospace;
    font-size: 40px;
    text-align: center;
}
h2 {
    color:rgb(0, 0, 0);
    font-family: "Lucida Console", Monospace;
    font-size: 28px;
    text-align: center;
}
p {
    color:rgb(0, 0, 0);
    font-family: "Lucida Console", Monospace;
    font-size: 20px
}

.box-1 {
    background-color:#9660f9;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    border-style: double;
    margin: 25px;
}

.box-2 {
    background-color:#9b99ff;
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    border-style: double;
    margin: 25px;
}

a:visited {
    text-decoration: none;
}

.button {
    background-color:#b8b7ff;
    border-radius: 10px;
    border-style: double;
    margin: auto;
}
