.container {
    margin:auto;
}

body {
    background-image: url('https://i.pinimg.com/originals/1f/3d/43/1f3d43bcd2f77090fe4e8ee181654a3e.jpg');
    background-size: cover
}


h1 {
    color:rgb(0, 0, 0);
    font-family: "Lucida Console", Monospace;
    font-size: 40px;
    text-align: center;
}
h2 {
    color:rgb(0, 0, 0);
    font-family: "Lucida Console", Monospace;
    font-size: 28px;
    text-align: center;
}

h3 {
    color:rgb(0, 0, 0);
    font-family: "Lucida Console", Monospace;
    font-size: 20px;
    text-align: center;
}
p {
    color:rgb(0, 0, 0);
    font-family: "Lucida Console", Monospace;
    font-size: 20px
}

.box-1 {
    background-color:#9660f9;
    width: 1000px;
    padding: 5px;
    border-radius: 10px;
    border-style: double;
    margin: 25px;
    text-align: center;
}

.box-2 {
    background-color:#9b99ff;
    width: 1000px;
    padding: 5px;
    border-radius: 10px;
    border-style: double;
    margin: 25px;
    text-align: center;
}

a:visited {
    text-decoration: none;
}

.button {
    background-color:#2a2a3f;
    border-color: #9660f9;
    border-radius: 10px;
    border-style: groove;
    margin: auto;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }